/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
:root {
    --bg-color:  #1B1B1B;
    --black-color: #272142;
    --footer-bg: #282323;
    --accent-color: #F65282;
    --lg-fs: 24px;
    --xxl-fs: 72px;
    --xl-fs: 64px;
    --md-fs: 18px;
    --sm-fs: 16px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff ;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--bg-color);
}
h1 {
    font-weight: bold;
    font-size: var(--lg-fs);
    line-height: 28px;
    margin-top: 17.5rem;
}
h2 {
    font-weight: bold;
    font-size: var(--xxl-fs);
    line-height: 84px;
    margin-block: 20px;
}
.navbar {
    background-color: transparent !important;
}
.nav-item a {
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 20px;
}
.cover {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100vw;
}
.logo {
    width: 150px;
    height: 24.75px;
}
.description {
    width: 460px;
    font-weight: 400;
    font-size: var(--md-fs);
    line-height: 30px;
}
.get-start-btn {
    width: 200px;
    top: 546px;
    left: 620px;
    margin: 25px;
    padding: 18px 30px 18px 30px;
    border-radius: 50px;
    gap: 10px;
    border: none;
}
.get-start-btn a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--black-color) !important;
}
.img-container {
    height: 280px ;
}
.img-details {
    display: block;
    margin: auto;
}
footer {
    background: var(--footer-bg);
}
.social-media a{
    margin-inline: 8px;
}
.copy-write {
    font-size: var(--sm-fs);
    font-weight: 400;
}

/* ------------ABOUT PAGE----------------- */

.about-cover {
    height: 782px;
    width: auto;
    object-fit: cover;
}
h4 {
    color: var(--accent-color);
    font-size: var(--md-fs);
    font-weight: bold;
    line-height: 21px;
}
h3 {
    font-size: var(--xl-fs);
    font-weight: bold;
    line-height: 75px;
}
.description-about {
    max-width: 560px;
    font-size: var(--md-fs);
    font-weight: 400px;
    line-height: 30;
}
.camera-img {
    max-width: 423px;
    max-height: 80px;
}
.contact-me{
    width: 200px;
    padding: 18px 30px 18px 30px;
    border-radius: 50px;
    border: none;
}
.contact-me a{
    color: var(--black-color);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}
.images img{
   max-height: 280px; 
}

/* ------------Media Query------------- */

@media (min-width:993px) and (max-width:1400px){
    .img-details {
        object-fit: cover;
        width: 90%;
    }
}

@media (max-width:992px) {
    :root {
        --lg-fs: 18px;
        --xxl-fs: 42px;
        --xl-fs: 32px;
        --md-fs: 14px;
        --sm-fs: 8px;
    }
    .img-details {
        width: 100%;
        height: auto;
    }
    .description {
        width: 350px;
    }
    .logo {
        width: 120px;
        height: 18px;
    }
    .social-media a{
        margin-inline: 2px;
    }
    .copy-write {
        width: 80px;
        text-align: center;
    }
}

